{% extends 'accounts/base.html' %}
{% load static %}

{% block body %}
    <div class="page-wrapper">
        <div class="page-content--bge5">
            <div class="container">
                <div class="login-wrap">
                    <div class="login-content">
                        <div class="login-logo">
                            <a href="#">
                                <img src="{% static 'images/icon/logo.png' %}" alt="CoolAdmin">
                            </a>
                        </div>
                        <div class="login-form">
                            <form action="" method="post">
                                {% csrf_token %}
                                <h1>Pharmacy Details</h1>
                                {% for field in pharmacy_registration_form %}
                                <div class="form-group">
                                    {{ field.label_tag }}
                                    {{ field }}
                                </div>
                                {% endfor %}
                                <hr>
                                <h1>Branch Details</h1>
                            {% for field in branch_registration_form %}
                                <div class="form-group">
                                    {{ field.label_tag }}
            {{ field }}
                                </div>
                            {% endfor %}

                            <hr>
                            <h1>Manager Details</h1>
                            {% for field in staff_registration_form %}
                                <div class="form-group">
                                    {{ field.label_tag }}
            {{ field }}
                                </div>
                            {% endfor %}
                                <button class="au-btn au-btn--block au-btn--green m-b-20" type="submit">register
                                </button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>

{% endblock %}
