{% extends 'shelf/base.html' %}

{% block title %}Add Product{% endblock %}

{% block body %}

    <div class="col-lg-12 grid-margin stretch-card">
        <div class="card">
            <div class="card-body">
                <div class="btn-group float-right">
                    <a href="{% url 'shelf:list_group_sales' %}" class="btn btn-inverse-info">
                        <i class="mdi mdi-arrow-left"></i>
                    </a>
                    <a href="{% url 'shelf:list_group_sales' %}" class="btn btn-inverse-info">
                        <i class="mdi mdi-home"></i>
                    </a>
                </div>
                <div class="btn-group float-right">
                    <a id="add-product-form-btn" href="#" class="btn btn-inverse-info">
                        <i class="mdi mdi-plus"></i>
                    </a>
                </div>
                <form id="product-form" action="" method="post">
                    {% csrf_token %}
                    {{ formset.management_form }}
                    <h4 class="card-title">Sales</h4>
                    <p class="card-description">
                    </p>
                    <div class="table-responsive">
                        <table class="table table-striped">
                            <thead>
                            <tr>
                                <th width="2%">

                                </th>
                                <th width="44%">
                                    Product Name
                                </th>
                                <th width="44%">
                                    Active Ingredients
                                </th>
                                <th width="10%">

                                </th>
                            </tr>
                            </thead>
                            <tbody id="form-list">
                            {% for form in formset %}
                                <tr>
                                    <td>
                                        {% if form.errors %}
                                            <div class="dropdown">
                                                <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                                                    <i class="mdi mdi-alert-circle-outline text-danger"></i>
                                                </a>
                                                <div class="dropdown-menu preview-list">
                                                    {% if form.name.errors %}
                                                        <div class="dropdown-header">Product Name</div>
                                                        {% for error in form.name.errors %}
                                                            <div class="dropdown-item preview-item text-danger">
                                                                <div class="preview-thumbnail">
                                                                    <div class="preview-icon bg-danger">
                                                                        <i class="mdi mdi-alert-circle-outline"></i>
                                                                    </div>
                                                                </div>
                                                                <div class="preview-item-content">
                                                                    <div class="font-weight-medium">
                                                                        {{ error }}
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        {% endfor %}
                                                        <div class="dropdown-divider"></div>
                                                    {% endif %}
                                                    {% if form.active_ingredients.errors %}
                                                        <div class="dropdown-header">Active Ingredients</div>
                                                        {% for error in form.active_ingredients.errors %}
                                                            <div class="dropdown-item preview-item text-danger">
                                                                <div class="preview-thumbnail">
                                                                    <div class="preview-icon bg-danger">
                                                                        <i class="mdi mdi-alert-circle-outline"></i>
                                                                    </div>
                                                                </div>
                                                                <div class="preview-item-content">
                                                                    <div class="font-weight-medium">
                                                                        {{ error }}
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        {% endfor %}
                                                    {% endif %}
                                                </div>
                                            </div>

                                        {% endif %}
                                    </td>
                                    <td>
                                        {{ form.name }}

                                    </td>
                                    <td>{{ form.active_ingredients }}</td>
                                    <td><a href="#"><i class="mdi mdi-close"></i></a></td>
                                </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                    </div>
                    <div class="row">
                        <button class="btn btn-primary mx-auto my-2">Save</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
{% endblock %}


{% block scripts %}
    <script>
        const addStockFormBtn = $('#add-product-form-btn');
        const formCounter = $('#id_form-TOTAL_FORMS');

        function addForm() {
            const formList = $('#form-list');
            const firstForm = formList.children()[0];
            const newForm = $(firstForm.outerHTML);
            const errorField = $(newForm.children()[0]);
            const productField = $(newForm.children()[1]).children()[0];
            const unitsSoldField = $(newForm.children()[2]).children()[0];
            $(errorField).html('');
            productField.name = productField.name.replace('0', formCounter.val());
            productField.id = productField.id.replace('0', formCounter.val());
            $(productField).val('');
            unitsSoldField.name = unitsSoldField.name.replace('0', formCounter.val());
            unitsSoldField.id = unitsSoldField.id.replace('0', formCounter.val());
            $(unitsSoldField).val('');
            formList.append(newForm);
        }

        addStockFormBtn.click(function () {
            addForm();
            formCounter.val(parseInt(formCounter.val()) + 1);
        });


    </script>
{% endblock %}






{% block sidebar_menu %}
    <li class="nav-item">
        <a class="nav-link" href="">
            <i class="menu-icon mdi mdi-television"></i>
            <span class="menu-title">Dashboard</span>
        </a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="{% url 'shelf:list_group_sales' %}">
            <i class="menu-icon mdi mdi-poll-box"></i>
            <span class="menu-title">Sales</span>
        </a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="../../pages/forms/basic_elements.html">
            <i class="menu-icon mdi mdi-chart-scatterplot-hexbin"></i>
            <span class="menu-title">Stocks</span>
        </a>
    </li>
    <li class="nav-item active">
        <a class="nav-link" href="{% url 'shelf:list_products' %}">
            <i class="menu-icon mdi mdi-archive"></i>
            <span class="menu-title">Products</span>
        </a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="../../pages/forms/basic_elements.html">
            <i class="menu-icon mdi mdi-account"></i>
            <span class="menu-title">Employees</span>
        </a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="{% url 'shelf:list_branches' %}">
            <i class="menu-icon mdi mdi-store"></i>
            <span class="menu-title">Branches</span>
        </a>
    </li>
{% endblock %}