{% extends 'shelf/base.html' %}

{% block body %}

    <div class="col-lg-12 grid-margin stretch-card">
        <div class="card">
            <div class="card-body">
                <button id="add-sale-form-btn" type="button"
                        class="btn btn-success btn-icons btn-rounded float-right p-1">
                    <i class="mdi mdi-plus mdi-24px"></i>
                </button>
                <form id="group-sale-form" action="" method="post">
                    {% csrf_token %}
                    {{ formset.management_form }}
                    <h4 class="card-title">Sales</h4>
                    <p class="card-description">
                    </p>
                    <div class="table-responsive">
                        <table class="table table-striped">
                            <thead>
                            <tr>
                                <th width="70%">
                                    Product
                                </th>
                                <th width="20%">
                                    Units
                                </th>
                                <th width="10%">

                                </th>
                            </tr>
                            </thead>
                            <tbody id="form-list">
                            {% for form in formset %}
                                <tr>
                                    <td>{{ form.product }}</td>
                                    <td>{{ form.units_sold }}</td>
                                    <td><a href="#"><i class="mdi mdi-close"></i></a></td>
                                </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                    </div>
                    <div class="row">
                        <button class="btn btn-primary mx-auto my-2">Save</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
{% endblock %}


{% block scripts %}
    <script>
        const addSaleFormBtn = $('#add-sale-form-btn');
        const formCounter = $('#id_form-TOTAL_FORMS');

        function addForm() {
            const formList = $('#form-list');
            const firstForm = formList.children()[0];
            const newForm = $(firstForm.outerHTML);
            $(newForm.children()[0]).children()[0].name.replace('0', formCounter.val());
            $(newForm.children()[0]).children()[0].id.replace('0', formCounter.val());
            $(newForm.children()[1]).children()[0].name.replace('0', formCounter.val());
            $(newForm.children()[1]).children()[0].id.replace('0', formCounter.val());
            formList.append(newForm);
        }

        addSaleFormBtn.click(function () {
            addForm();
            formCounter.val(parseInt(formCounter.val())+1);
        });


    </script>
{% endblock %}






{% block sidebar_menu %}
    <li class="nav-item">
        <a class="nav-link" href="">
            <i class="menu-icon mdi mdi-television"></i>
            <span class="menu-title">Dashboard</span>
        </a>
    </li>
    <li class="nav-item active">
        <a class="nav-link" href="../../pages/forms/basic_elements.html">
            <i class="menu-icon mdi mdi-poll-box"></i>
            <span class="menu-title">Sales</span>
        </a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="../../pages/forms/basic_elements.html">
            <i class="menu-icon mdi mdi-account-location"></i>
            <span class="menu-title">Employees</span>
        </a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="../../pages/charts/chartjs.html">
            <i class="menu-icon mdi mdi-factory"></i>
            <span class="menu-title">Branches</span>
        </a>
    </li>
{% endblock %}