{% extends 'shelf/base.html' %}

{% block title %}Sale Receipt{% endblock %}

{% block body %}
    <div class="col-lg-12 grid-margin stretch-card">
        <div class="card">
            <div class="card-body">
                <div class="btn-group float-right">
                    <a href="#" class="btn btn-inverse-info" id="print-receipt-btn">
                        <i class="mdi mdi-printer"></i>
                    </a>
                    <a href="{% url 'shelf:add_sale' %}" class="btn btn-inverse-info">
                        <i class="mdi mdi-close"></i>
                    </a>
                </div>
                <h4 class="card-title">Sales Receipt</h4>
                <div class="table-responsive">
                    <table class="table table-striped">
                        <thead>
                        <tr>
                            <th width="70%">
                                Product
                            </th>
                            <th width="10%">
                                Units
                            </th>
                            <th width="20%">
                                Cost (GHS)
                            </th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for sale in group_sale.sale_set.all %}
                            <tr>
                                <td>{{ sale.product }}</td>
                                <td>{{ sale.units_sold }}</td>
                                <td>{{ sale.units_sold_value }}</td>
                            </tr>
                        {% endfor %}
                        </tbody>
                        <tfoot>
                        <tr class="bg-inverse-success">
                            <td colspan="2">Total</td>
                            <td>{{ group_sale.units_sold_value }}</td>
                        </tr>
                        </tfoot>
                    </table>
                </div>
                </form>
            </div>
            <div class="card-footer text-small">
                {{ group_sale.timestamp }}
            </div>
        </div>
    </div>
{% endblock %}


{% block scripts %}
    <script>
        $('#print-receipt-btn').click(function () {
            window.print();
        });
    </script>
{% endblock %}
{% block sidebar_menu %}
{% endblock %}