{% extends 'shelf/base.html' %}
{% load static %}


{% block title %}Stocks{% endblock %}


{% block body %}
    <div class="row mb-3">
        <div class="col-md-6 col-lg-3 mx-auto">
            <input id="search-box" list="product-list" class="form-control">
            <datalist id="product-list">
                {% for product in products %}
                    <option value="{{ product.name.lower }}"></option>
                {% endfor %}
            </datalist>
        </div>
    </div>
    <div class="row">
        {% for product in products %}
            <div class="col-lg-6 grid-margin stretch-card my-product-card">
                <div class="card">
                    <div class="card-body">
                        <h4 class="card-title"><span class="display-4">{{ product.name }}</span></h4>
                        <canvas id="pieChart-{{ product.id }}" style="height: 125px; display: block; width: 250px;"
                                width="750" height="375"
                                class="chartjs-render-monitor"></canvas>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>

    <style type="text/css">/* Chart.js */
    @-webkit-keyframes chartjs-render-animation {
        from {
            opacity: 0.99
        }
        to {
            opacity: 1
        }
    }

    @keyframes chartjs-render-animation {
        from {
            opacity: 0.99
        }
        to {
            opacity: 1
        }
    }

    .chartjs-render-monitor {
        -webkit-animation: chartjs-render-animation 0.001s;
        animation: chartjs-render-animation 0.001s;
    }</style>
{% endblock %}


{% block scripts %}
    <script>
        const searchBox = $('#search-box');
        const productCards = $('.my-product-card');
        $(searchBox).keyup(function (e) {
            //if(e.keyCode === 13) {
            e.preventDefault();
            $(productCards).each(function (i) {
                let productCard = productCards[i];
                let productCardTitle = $($($(productCard).find('.card-title')).children()[0]).text();
                if (productCardTitle.toLowerCase().includes($(searchBox).val().toLowerCase())) {
                    $(productCard).show();
                } else {
                    $(productCard).hide();
                }
            })
            //}
        })
    </script>
    {% for product in products %}
        <script>
            $.get('/api/stock/' + '{{ product.stock.id }}' + '/', function (data) {
                let pieChartData = {
                    datasets: [{
                        data: [data['units_sold'], data['units_left']],
                        backgroundColor: [
                            'rgba(255, 99, 132, 0.5)',
                            'rgba(54, 162, 235, 0.5)',
                            'rgba(255, 206, 86, 0.5)',
                            'rgba(75, 192, 192, 0.5)',
                        ],
                        borderColor: [
                            'rgba(255,99,132,1)',
                            'rgba(54, 162, 235, 1)',
                            'rgba(255, 206, 86, 1)',
                            'rgba(75, 192, 192, 1)',
                        ],
                    }],

                    // These labels appear in the legend and in the tooltips when hovering different arcs
                    labels: [
                        'Units sold',
                        'Units left',
                    ]
                };
                let pieChartOptions = {
                    responsive: true,
                    animation: {
                        animateScale: true,
                        animateRotate: true
                    }
                }
                if ($("#pieChart-" + '{{ product.id }}').length) {
                    let pieChartCanvas = $("#pieChart-" + '{{ product.id }}').get(0).getContext("2d");
                    let pieChart = new Chart(pieChartCanvas, {
                        type: 'pie',
                        data: pieChartData,
                        options: pieChartOptions
                    });
                }
            });
        </script>
    {% endfor %}
{% endblock %}


{% block sidebar_menu %}
    <li class="nav-item">
        <a class="nav-link" href="">
            <i class="menu-icon mdi mdi-television"></i>
            <span class="menu-title">Dashboard</span>
        </a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="{% url 'shelf:list_group_sales' %}">
            <i class="menu-icon mdi mdi-poll-box"></i>
            <span class="menu-title">Sales</span>
        </a>
    </li>
    <li class="nav-item active">
        <a class="nav-link" href="{% url 'shelf:list_stocks' %}">
            <i class="menu-icon mdi mdi-chart-scatterplot-hexbin"></i>
            <span class="menu-title">Stocks</span>
        </a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="{% url 'shelf:list_products' %}">
            <i class="menu-icon mdi mdi-archive"></i>
            <span class="menu-title">Products</span>
        </a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="../../pages/forms/basic_elements.html">
            <i class="menu-icon mdi mdi-account"></i>
            <span class="menu-title">Employees</span>
        </a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="{% url 'shelf:list_branches' %}">
            <i class="menu-icon mdi mdi-store"></i>
            <span class="menu-title">Branches</span>
        </a>
    </li>
{% endblock %}