{% extends 'shelf/base.html' %}

{% block title %}Sales{% endblock %}

{% block body %}
    <div class="row">
        <div class="col-lg-12 grid-margin stretch-card">
            <div class="card">
                <div class="card-body">
                    <div class="btn-group float-right">
                        <a href="{% url 'shelf:add_sale' %}" class="btn btn-inverse-info">
                            <i class="mdi mdi-plus"></i>
                        </a>
                        <a href="{% url 'shelf:list_group_sales' %}" class="btn btn-inverse-info">
                            <i class="mdi mdi-home"></i>
                        </a>
                    </div>
                    <h4 class="card-title">Bulk Sales</h4>
                    <p class="card-description">
                        {% if branches.count == 1 %}
                            Showing {{ group_sales.count }} bulk sale
                        {% else %}
                            Showing {{ group_sales.count }} bulk sales
                        {% endif %}
                    </p>
                    <div class="table-responsive">
                        <table class="table table-hover">
                            <thead>
                            <tr>
                                <th width="80%">
                                    Bulk Sale ID
                                </th>
                                <th>
                                    Value
                                </th>
                                <th>

                                </th>
                            </tr>
                            </thead>
                            <tbody>
                            {% for group_sale in group_sales %}
                                <tr>
                                    <td><a href="{% url 'shelf:list_sales' group_sale.id %}">{{ group_sale }}</a></td>
                                    <td>{{ group_sale.units_sold_value }}</td>
                                    <td>{{ group_sale.timestamp }}</td>
                                </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block sidebar_menu %}
{% endblock %}